<div>

  <!-- <div class="title">
    <h2> To-Do List </h2>
  </div>

  <form (ngSubmit)="addTodo()">
    <label>Title: <input [(ngModel)]="newTodo.title" name="title"></label>
    <br>
    <label>Description: <input [(ngModel)]="newTodo.description" name="description"></label>
    <br>
    <label>Due Date: <input [(ngModel)]="newTodo.dueDate" name="dueDate"></label>
    <br>
    <button type="submit">Add Todo</button>
  </form>
  <hr>
  <ul>
    <li *ngFor="let todo of todos">
      <h3> ToDo : {{todo.title}}</h3>
      <p>Description : {{todo.description}}</p>
      <p>Due Date: {{todo.dueDate}}</p>
    </li>
  </ul> -->

</div>
