

<mat-card class="card ">


    <mat-card-header>

      <mat-card-title>Task : {{ task.title }}</mat-card-title>
      <mat-card-subtitle> Priority : {{ task.selectedPriorityValue }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content> Description : {{ task.description }}</mat-card-content>

    <mat-card-actions>
      <button mat-button (click)="removeTask.emit(task)" style="color: red;">DELETE</button>
      <button mat-button (click)="editTask.emit(task)" style="color: rgb(0, 0, 0);">EDIT</button>
    </mat-card-actions>


  </mat-card>

